.part-3 {
	align-items: center;
	text-align: center;

}
.samples {
	margin-top: 50px;
	display: inline-block;
}
.ad {
	position: fixed;
	top: 50%;
	left: -30px;
	cursor: pointer;
}
.ad img {
	width: 250px;
	height: 200px;
}